header {
  gap: 2.4rem;
  padding-bottom: 4.8rem;
}

#back {
  display: flex;
  align-items: center;
  gap: .8rem;

  cursor: pointer;

  transition: ease 500ms;
}

#back:hover {
  opacity: .8;
}

header div:nth-child(2) {
  gap: .7rem;
}