#main-image {
  padding: 6.4rem 6.4rem 18.8rem 6.4rem;

  background-color: var(--surface-secondary);
  overflow: visible;
}

#main-image div {
  gap: .8rem;

  padding-bottom: 3.2rem;
}

#main-image div img {
  max-width: 20rem;
}

#main-image strong {
  color: var(--text-highlight);
}